<footer id="layout-footer">
    <div class="footer-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </div>

    <div class="footer-info">
        <p>&#169; <%= new Date().getFullYear() %> Social Bud. All Rights Reserved</p>
    </div>
</footer>
