<link rel="stylesheet" href="<%= assetPath('css/signin.css') %>" />


<div id="sign-in-container">
  <div class="sign-in-form-wrapper">
    <h1 class="sign-in-title">Sign In</h1>

    <form class="sign-in-form" action="/users/create-session" method="POST">
      <input id="email" class="input-field email-input" type="email" name="email" placeholder="Email" required />
      <input id="password" class="input-field password-input" type="password" name="password" placeholder="Password" required />
      <input id="sign-in-btn" class="btn sign-in-btn" type="submit" value="Sign In" />
    </form>

    <p class="google-signin-text">
      <a class="google-signin-link" href="/users/auth/google">Google Sign In / Sign Up</a>
    </p>
  </div>
</div>
