* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6; }

#layout-main {
  padding: 20px;
  min-height: calc(100vh - 140px);
  background-color: white; }

.noty_body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #2ecc71 !important;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

@media (max-width: 768px) {
  #layout-main {
    padding: 10px; } }
